<!--

   Web Atelier 2022  Exercise 5 - Web Apps and APIs with Express

   Student: Deidda Paolo
   Home Page

-->
<!--
    Web Atelier 2022
    Exercise 1
    HTML5 and CSS

    Home Page

    Author: Deidda Paolo

-->
<head>
   <title>INDEX</title>
   <meta name="author" content="Deidda Paolo">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3306/3306571.png"><!--tab logo-->
   <link rel="stylesheet" href="/css/style.css">
</head>

<body>
   <header><h1>ufo gaming zone</h1></header>
   <div class="container">
       <nav>
        <form action="/games/random" method="POST">
            <input class="newgame" id="player" name="player" placeholder="Player Name">
            <input type="submit" class="newgame" value="START A RANDOM GAME"> </input>
        </form>           
           <h2>GAME MENU</h2>
           <a href="/edit">edit</a>
           <a href="index.html">index</a>
           <a href="/games/snake">play snake</a>
           <a href="/games/typing">play typing</a>
          </nav>
       <main>
           <h2>last played game</h2>
           <img src="https://ksr-ugc.imgix.net/assets/025/165/701/cb87674816606d9aed03ea7d220dc892_original.jpg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1558036063&auto=format&frame=1&q=92&s=31572f7ce41c63be11c77afe5455de75" alt="space_invaders_game_image" style="width: 90%; border-radius: 10px; border: 1px solid white;">
           <h2>gameplay</h2>
           <p>The objective of Space Invaders, which was one of the earliest video games released, is to pan across a screen and shoot descending swarms of aliens, preventing them from reaching the bottom of the screen. It is viewed as a pioneer of modern gaming.</p>
           <h2>history</h2>
           <p>Space Invaders, arcade game created by Japanese engineer and game designer Nishikado Tomohiro in 1978 and produced by Japanese electronic game manufacturer Taito Corp. The objective of Space Invaders, which was one of the earliest video games released, is to pan across a screen and shoot descending swarms of aliens, preventing them from reaching the bottom of the screen. It is viewed as a pioneer of modern gaming.</p>
       </main>
       <%- include("includes/high_scores", scoreBoard) %>
   </div>

   <div>
       <a type="button" class="button" id="start_game_button" href="/games/random">START <br>RANDOM GAME</a>
   </div>
   <div>
       <a tupe="button" class="button" id="create_new_game_button" href="">CREATE <br> NEW GAME</a>
   </div>
   <footer>
       <h3><img src="https://logos-world.net/wp-content/uploads/2021/08/Copyright-Logo-700x394.png" alt="copyright_image" style="width:40px; border: transparent;"> all copyrights reserved</h3>
   </footer>
   
</body>
<script src = "/games/typing/challenges.js"></script>
<script src="/js/typing/script.js"></script>
<script src="/js/typing/play-typing-game.js"></script>
